{% extends 'base.html' %}
{% load static %}
{% block title %}
  Blogs
{% endblock %}

{% block content %}

<style>
    section{
    /* width: 90%; */
    /* padding: 100px 100px; */
    margin: 130px 00px;
    /* border: 1px solid #b5b5b5; */
    padding: 50px 0px;
    background:#f9f5f5 ;
    
  }
  .buton{
    background: #937c6f;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px 10%;
  }

  .buton:hover{
    background: #c5a999;
    color: #000000;
    outline: none;
    

  }
</style>
<section>
  <div class="container mt-2">
    <h2 class="mb-5">Blogs' List</h2>
    
    <div class="row mb-2">
      {% for blog in page_obj %}
        <div class="col-md-4">
          <div class="card mb-4">
            {% if blog.picture %}
              <img src="{{ blog.picture.url }}" class="card-img-top" alt="{{ blog.name }}" />
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ blog.name }}</h5>
              <p class="card-text" id="desc-short-{{ blog.id }}">{{ blog.description|truncatewords:20 }}</p>
              <p class="card-text d-none" id="desc-full-{{ blog.id }}">{{ blog.description }}</p>
              <button onclick="toggleDescription({{ blog.id }})" class="buton">Read More</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <script>
      function toggleDescription(blogId) {
        var shortDesc = document.getElementById('desc-short-' + blogId);
        var fullDesc = document.getElementById('desc-full-' + blogId);
        if (fullDesc.classList.contains('d-none')) {
          fullDesc.classList.remove('d-none');
          shortDesc.classList.add('d-none');
        } else {
          fullDesc.classList.add('d-none');
          shortDesc.classList.remove('d-none');
        }
      }
      </script>
      
    

    <!-- Pagination -->
    {% if page_obj.has_previous or page_obj.has_next %}
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" style="color: #000; background-color: #fff; border-color: #000;">Previous</a>
            </li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
              <a class="page-link"
                href="?page={{ num }}"
                style="
                        {% if page_obj.number == num %}
                  
                            color: #fff; background-color: #000; border-color: #000;

                {% else %}
                  
                            color: #000; background-color: #fff; border-color: #000;

                {% endif %}">
                {{ num }}
              </a>
            </li>
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" style="color: #000; background-color: #fff; border-color: #000;">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>

</section>
 
{% endblock %}
