{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/product.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'styles/product_responsive.css' %}" />
{% endblock %}

{% block content %}
  <!-- Home -->
  <div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/contact.png' %}" data-speed="0.8"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="home_container">
            <div class="home_content">
              <div class="home_title">Product</div>
              <div class="breadcrumbs">
                <ul>
                  <li>
                    <a href="">Home</a>
                  </li>
                  <li>Product</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Product -->
  <div class="product">
    <div class="container">
      <div class="row product_row">
        <!-- Product Image -->
        <div class="col-lg-7">
          <div class="product_image">
            <div class="product_image_large">
              <img src="{{ product.image.url }}" alt="{{ product.name }}" />
            </div>
          </div>
        </div>

        <!-- Product Content -->
        <div class="col-lg-5">
          <div class="product_content">
            <div class="product_name">{{ product.name }}</div>
            <div class="product_price">
              {% if product.is_on_sale %}
                <span class="sale_price">${{ product.sale_price }}</span>
                <span style="text-decoration: line-through; color: #888;">${{ product.price }}</span>
              {% else %}
                ${{ product.price }}
              {% endif %}
            </div>
            <div class="rating rating_4" data-rating="{{ product.rating }}"></div>
            <!-- In Stock -->
            <div class="in_stock_container">
              <div class="in_stock {% if product.is_in_stock %}
                  
                  in_stock_true

                {% else %}
                  
                  in_stock_false

                {% endif %}"></div>
              <span>
                {% if product.is_in_stock %}
                  in stock
                {% else %}
                  out of stock
                {% endif %}
              </span>
            </div>
            <div class="product_text">
              <p>{{ product.description }}</p>
            </div>
            <!-- Product Quantity -->
            <div class="product_quantity_container">
              <span>Quantity</span>
              <input id="quantity_input" type="number" value="1" min="1" step="1" />
            </div>
            <!-- Add to Cart Button -->
            <div class="product_size_container">
              <div class="button cart_button">
                <a href="" onclick="addToCart({{ product.id }}); return false;">add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Reviews -->
      <div class="row">
        <div class="col">
          <div class="reviews">
            <div class="reviews_title">reviews</div>
            <div class="reviews_container">
              <ul>
                <!-- Review -->
                <li class="review clearfix">
                  <div class="review_image">
                    <img src="{% static 'images/review_1.jpg' %}" alt="" />
                  </div>
                  <div class="review_content">
                    <div class="review_name">
                      <a href="#">Maria Smith</a>
                    </div>
                    <div class="review_date">Nov 29, 2017</div>
                    <div class="rating rating_4 review_rating" data-rating="4">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="review_text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis quam ipsum. Pellentesque consequat tellus non tortor tempus, id egestas elit iaculis. Proin eu dui porta, pretium metus vitae, pharetra odio. Sed ac mi commodo, pellentesque erat eget, accumsan justo. Etiam sed placerat felis. Proin non rutrum ligula.</p>
                    </div>
                  </div>
                </li>
                <!-- Review -->
                <li class="review clearfix">
                  <div class="review_image">
                    <img src="{% static 'images/review_2.jpg' %}" alt="" />
                  </div>
                  <div class="review_content">
                    <div class="review_name">
                      <a href="#">Maria Smith</a>
                    </div>
                    <div class="review_date">Nov 29, 2017</div>
                    <div class="rating rating_4 review_rating" data-rating="4">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="review_text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis quam ipsum. Pellentesque consequat tellus non tortor tempus, id egestas elit iaculis. Proin eu dui porta, pretium metus vitae, pharetra odio. Sed ac mi commodo, pellentesque erat eget, accumsan justo. Etiam sed placerat felis. Proin non rutrum ligula.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Leave a Review -->
      <div class="row">
        <div class="col">
          <div class="review_form_container">
            <div class="review_form_title">leave a review</div>
            <div class="review_form_content">
              <form action="#" id="review_form" class="review_form">
                <div class="d-flex flex-md-row flex-column align-items-start justify-content-between">
                  <input type="text" class="review_form_input" placeholder="Name" required="required" />
                  <input type="email" class="review_form_input" placeholder="E-mail" required="required" />
                  <input type="text" class="review_form_input" placeholder="Subject" />
                </div>
                <textarea class="review_form_text" name="review_form_text" placeholder="Message"></textarea>
                <button type="submit" class="review_form_button">leave a review</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function addToCart(productId) {
      var quantity = document.getElementById('quantity_input').value
      if (quantity === '' || quantity === '0') {
        quantity = '1'
      }
      var url = "{% url 'add_to_cart' 0 0 %}".replace('0', productId).replace('0', quantity)
      window.location.href = url
    }
  </script>
{% endblock %}
