{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/categories.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'styles/categories_responsive.css' %}" />
{% endblock %}

{% block content %}
  <!-- Home -->

  <div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/contact.png' %}" data-speed="0.8"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="home_container">
            <div class="home_content">
              <div class="home_title">Shop</div>
              <div class="breadcrumbs">
                <ul>
                  <li>
                    <a href="">Home</a>
                  </li>
                  <li>Shop</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Products -->

  <div class="products">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Sidebar Left -->

          <div class="sidebar_left clearfix">
            <!-- Best Sellers -->

            <div class="sidebar_section">
              <div class="sidebar_title">Best Sellers</div>
              <div class="sidebar_section_content bestsellers_content">
                <ul>
                  <!-- Best Seller Item -->
                  <li class="clearfix">
                    <div class="best_image">
                      <img src="{% static 'images/best_1.jpg' %}" alt="" />
                    </div>
                    <div class="best_content">
                      <div class="best_title">
                        <a href="">Blue dress with dots</a>
                      </div>
                      <div class="best_price">$45</div>
                    </div>
                    <div class="best_buy">+</div>
                  </li>

                  <!-- Best Seller Item -->
                  <li class="clearfix">
                    <div class="best_image">
                      <img src="{% static 'images/best_2.jpg' %}" alt="" />
                    </div>
                    <div class="best_content">
                      <div class="best_title">
                        <a href="">White t-shirt</a>
                      </div>
                      <div class="best_price">$45</div>
                    </div>
                    <div class="best_buy">+</div>
                  </li>

                  <!-- Best Seller Item -->
                  <li class="clearfix">
                    <div class="best_image">
                      <img src="{% static 'images/best_3.jpg' %}" alt="" />
                    </div>
                    <div class="best_content">
                      <div class="best_title">
                        <a href="">Blue dress with dots</a>
                      </div>
                      <div class="best_price">$45</div>
                    </div>
                    <div class="best_buy">+</div>
                  </li>

                  <!-- Best Seller Item -->
                  <li class="clearfix">
                    <div class="best_image">
                      <img src="{% static 'images/best_4.jpg' %}" alt="" />
                    </div>
                    <div class="best_content">
                      <div class="best_title">
                        <a href="">White t-shirt</a>
                      </div>
                      <div class="best_price">$45</div>
                    </div>
                    <div class="best_buy">+</div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Size -->
            <div class="sidebar_section sidebar_options">
              <div class="sidebar_section_content">
                <!-- Option Item -->
                <div class="sidebar_option d-flex flex-row align-items-center justify-content-start">
                  <div class="option_image">
                    <img src="{% static 'images/option_1.png' %}" alt="" />
                  </div>
                  <div class="option_content">
                    <div class="option_title">30 Days Returns</div>
                    <div class="option_subtitle">No questions asked</div>
                  </div>
                </div>

                <!-- Option Item -->
                <div class="sidebar_option d-flex flex-row align-items-center justify-content-start">
                  <div class="option_image">
                    <img src="{% static 'images/option_2.png' %}" alt="" />
                  </div>
                  <div class="option_content">
                    <div class="option_title">Free Delivery</div>
                    <div class="option_subtitle">On all orders</div>
                  </div>
                </div>

                <!-- Option Item -->
                <div class="sidebar_option d-flex flex-row align-items-center justify-content-start">
                  <div class="option_image">
                    <img src="{% static 'images/option_3.png' %}" alt="" />
                  </div>
                  <div class="option_content">
                    <div class="option_title">Secure Payments</div>
                    <div class="option_subtitle">No need to worry</div>
                  </div>
                </div>

                <!-- Option Item -->
                <div class="sidebar_option d-flex flex-row align-items-center justify-content-start">
                  <div class="option_image">
                    <img src="{% static 'images/option_4.png' %}" alt="" />
                  </div>
                  <div class="option_content">
                    <div class="option_title">24/7 Support</div>
                    <div class="option_subtitle">Just call us</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="current_page">Woman's Fashion</div>
        </div>
      </div>

      <div class="row products_container">
    <div class="col">
        <!-- Products -->
        <div class="product_grid">
            <!-- Product -->
            {% for product in products %}
                <div class="product">
                    <div class="product_image">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" />
                    </div>
                    <div class="rating rating_{{ product.rating }}" data-rating="{{ product.rating }}">
                        {% for i in "12345" %}
                            <i class="fa fa-star" style="color: {% if i|add:'0' <= product.average_rating %}gold{% else %}gray{% endif %};"></i>
                        {% endfor %}
                    </div>
                    <div class="product_content clearfix">
                        <div class="product_info">
                            <div class="product_name">
                                <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                            </div>
                            <div class="product_price">
                                {% if product.is_on_sale %}
                                    <span class="sale_price">${{ product.sale_price }}</span>
                                    <span style="text-decoration: line-through; color: #888;">${{ product.price }}</span>
                                {% else %}
                                    ${{ product.price }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="product_options">
                            <div class="product_buy product_option">
                                <a href="{% url 'add_to_cart' product.id 1 %}" class="product_buy product_option"><img src="{% static 'images/shopping-bag-white.svg' %}" alt="Buy {{ product.name }}" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <!-- Pagination Controls -->
        <div class="pagination_container">
            <ul class="pagination">
                {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for num in products.paginator.page_range %}
                    {% if products.number == num %}
                        <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

    </div>
  </div>
{% endblock %}
