{% extends 'base.html' %}
{% load static %}

{% block title %}
  Payment Canceled
{% endblock %}

{% block content %}
  <style>
    .center {
      margin: 200px 100px;
      border: 1px solid #b5b5b5;
      padding: 50px 50px;
      background: #f9f5f5;
      text-align: center;
    }
  </style>

  <div class="center">
    <h1>Payment Canceled</h1>
    <i class="fa fa-times-circle fa-5x" aria-hidden="true"></i>
    <p>Your payment has been canceled. Please try again or contact support if you need assistance.</p>
  </div>
{% endblock %}
