{% extends 'base.html' %}
{% load static %}

{% block title %}
  Payment Success
{% endblock %}

{% block content %}

<style>
      center{
   
   margin: 200px 100px;
   border: 1px solid #b5b5b5;
   padding: 50px 50px;
   background:#f9f5f5 ;
   
 }
</style>

<center>
  <div class="container mt-5">
    <h1>Payment Successful</h1><i class="fa fa-check-circle fa-5x" aria-hidden="true" ></i>
    <p>Your payment has been processed successfully. Thank you for your purchase!</p>
  </div>

</center>
 
{% endblock %}
