{% extends 'base.html' %}
{% block title %}Manage Orders{% endblock %}

{% block content %}
<style>
    .pagination_container {
      text-align: center;
      margin-top: 20px;
    }
    
    .pagination .page-item {
      display: inline-block;
    }
    
    .pagination .page-link {
      color: #545454;
      background-color: #f9f5f5;
      border: 1px solid #d2d2d2;
      padding: 8px 16px;
      text-decoration: none;
    }
    
    .pagination .page-item.active .page-link {
      background-color: #937c6f;
      border-color: #d2d2d2;
    }
    
    .pagination .page-link:hover {
      background-color: #937c6f;
      color: #fff;
      transition: background-color 0.3s, color 0.3s;
    }
</style>
<style>
     section{
   margin: 200px 100px;
   border: 1px solid #b5b5b5;
   padding: 50px 50px;
   background:#f9f5f5 ;
   
 }

 @media only screen and (max-width: 450px)
            {
                  section{
   
    margin: 200px 10px;
    border: 1px solid #b5b5b5;
    padding: 5px 5px;
    background:#f9f5f5 ;
    
  }}
</style>
<section>
    <h2>Manage Orders</h2>


    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Email</th>
                    <th>Is Shipped</th>
                    <th>Is Paid</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            <td><a class="btn btn-dark btn-sm" href="{% url 'order_detail' order.id %}">View Order {{ order.id }}</a></td>
                            <td>{{ order.user.email }}</td>
                            <td><input type="checkbox" name="is_shipped" {% if order.is_shipped %}checked{% endif %}></td>
                            <td><input type="checkbox" name="is_paid" {% if order.is_paid %}checked{% endif %}></td>
                            <td>
                                <select name="status" class="form-control">
                                    <option value="placed" {% if order.status == 'placed' %}selected{% endif %}>Placed</option>
                                    <option value="delivered" {% if order.status == 'delivered' %}selected{% endif %}>Delivered</option>
                                    <option value="canceled" {% if order.status == 'canceled' %}selected{% endif %}>Canceled</option>
                                </select>
                            </td>
                            <td><button type="submit" class="btn btn-primary">Update</button></td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
<a href="{% url 'stats' %}" class="btn btn-secondary btn-sm mt-1">Back to Dashboard</a>
    <div class="pagination_container">
    <ul class="pagination">
        {% if orders.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">Page {{ orders.number }} of {{ orders.paginator.num_pages }}</span>
        </li>

        {% if orders.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.paginator.num_pages }}">Last &raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>


</section>
    
{% endblock %}
