{% extends 'base.html' %}
{% load static %}
{% block title %}
  User List
{% endblock %}

{% block content %}
  <style>
    .pagination_container {
      text-align: center;
      margin-top: 20px;
    }
    
    .pagination .page-item {
      display: inline-block;
    }
    
    .pagination .page-link {
      color: #545454;
      background-color: #f9f5f5;
      border: 1px solid #d2d2d2;
      padding: 8px 16px;
      text-decoration: none;
    }
    
    .pagination .page-item.active .page-link {
      background-color: #937c6f;
      border-color: #d2d2d2;
    }
    
    .pagination .page-link:hover {
      background-color: #937c6f;
      color: #fff;
      transition: background-color 0.3s, color 0.3s;
    }
  </style>
  <style>
    section {
      margin: 200px 100px;
      border: 1px solid #b5b5b5;
      padding: 50px 50px;
      background: #f9f5f5;
    }
    
    @media only screen and (max-width: 450px) {
      section {
        margin: 200px 10px;
        border: 1px solid #b5b5b5;
        padding: 5px 5px;
        background: #f9f5f5;
      }
    }
  </style>
  <section>
    <h1>User List</h1>
    <a href="{% url 'export_users_to_excel' %}" class="btn btn-dark btn-sm mb-4">Export to Excel</a>
    {% if page_obj %}
      <table class="table">
        <thead>
          <tr>
            <th>Avatar</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for user in page_obj.object_list %}
            <tr>
              <td>
                {% if user.avatar %}
                  <img src="{{ user.avatar.url }}" alt="Avatar" class="img-thumbnail" style="width: 50px; height: 50px;" />
                {% else %}
                  <img src="{% static 'images/reviewdefault.png' %}" alt="Default Avatar" class="img-thumbnail" style="width: 50px; height: 50px;" />
                {% endif %}
              </td>
              <td>{{ user.email }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2">No users found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'stats' %}" class="btn btn-secondary btn-sm mt-1">Back to Dashboard</a>
      {% if page_obj.has_other_pages %}
        <div class="pagination_container">
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; First</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
              </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <li class="page-item active">
                  <a class="page-link">{{ num }}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    {% else %}
      <p>No users found.</p>
    {% endif %}
  </section>
{% endblock %}
