{% extends 'base.html' %}
{% load static %}
{% block title %}User List{% endblock %}

{% block content %}

<style>
  section{
   margin: 200px 100px;
   border: 1px solid #b5b5b5;
   padding: 50px 50px;
   background:#f9f5f5 ;
   
 }

 @media only screen and (max-width: 450px)
            {
                  section{
   
    margin: 200px 10px;
    border: 1px solid #b5b5b5;
    padding: 5px 5px;
    background:#f9f5f5 ;
    
  }}
</style>
<section>
  <h1>User List</h1>

    {% if page_obj %}
      <table class="table">
        <thead>
          <tr>
            <th>Avatar</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for user in page_obj.object_list %}
            <tr>
              <td>
                {% if user.avatar %}
                  <img src="{{ user.avatar.url }}" alt="Avatar" class="img-thumbnail" style="width: 50px; height: 50px;" />
                {% else %}
                  <img src="{% static 'images/reviewdefault.png' %}" alt="Default Avatar" class="img-thumbnail" style="width: 50px; height: 50px;" />
                {% endif %}
              </td>
              <td>{{ user.email }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2">No users found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'export_users_to_excel' %}" class="btn btn-dark btn-sm mb-4">Export to Excel</a>
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    {% else %}
      <p>No users found.</p>
    {% endif %}

</section>
    
{% endblock %}
