{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <div>
      <div>
        <header>Login</header>
        <form action="{% url 'login' %}" method="post" id="form1">
          {% csrf_token %}
          
          <!-- Display non-field errors -->
          {% if form.non_field_errors %}
              <div>
                  {% for error in form.non_field_errors %}
                      <p>{{ error }}</p>
                  {% endfor %}
              </div>
          {% endif %}
          
          <!-- Username field -->
          <div>
              <label for="id_username">Email</label>
              <input type="text"
                     name="username"
                     id="id_username"
                     placeholder="Enter Email"
                     autofocus>
              {% for error in form.username.errors %}
                  <div>{{ error }}</div>
              {% endfor %}
          </div>
          
          <!-- Password field -->
          <div>
              <label for="id_password">Password</label>
              <input type="password"
                     name="password"
                     id="id_password"
                     placeholder="Enter password"
                     autocomplete="off">
              {% for error in form.password.errors %}
                  <div>{{ error }}</div>
              {% endfor %}
          </div>
          
          <a href="{% url 'forgot_password' %}">Forgot password?</a>
          <input type="submit" value="Login" name="loginbtn" />
        </form>
        
        <!-- Signup link -->
        <div>
          <span>
            Don't have an account?
            <a href="{% url 'signup' %}">Signup</a>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
