{% extends 'base.html' %}
{% load static %}

{% block title %}
  Update Profile
{% endblock %}

{% block content %}
<style>
  center{
   
    margin: 200px 100px;
    border: 1px solid #b5b5b5;
    padding: 50px 50px;
    background:#f9f5f5 ;
    
  }

  center input{
    border: 1px solid #b5b5b5;
      padding: 7px 5px;
      font-size: 14px;
      outline: none;
      
      
  }

  .buton{
    background: #937c6f;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px 20%;
  }

  .buton:hover{
    background: #c5a999;
    color: #000000;

  }
  @media only screen and (max-width: 450px)
{
  center{
   
    margin: 200px 10px;
    border: 1px solid #b5b5b5;
    padding: 5px 5px;
    background:#f9f5f5 ;
    
  }
	
}
</style>
<center >
  <div class="container">
    <h2>Update Profile</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
        <label for="avatar">Current Avatar:</label><br />
        {% if request.user.avatar %}
          <img src="{{ request.user.avatar.url }}" alt="{{ request.user.username }}" style="width:150px;height:150px;border-radius:50%;" /><br />
        {% else %}
          <p>No avatar uploaded.</p>
        {% endif %}
      </div>

      <div class="form-group">{{ form.as_p }}</div>

      <button type="submit" class="buton">UPDATE</button>
    </form>
  </div>

</center>


{% endblock %}
