{% extends 'base.html' %}
{% load static %}

{% block title %}
  Verify OTP
{% endblock %}

{% block content %}

<style>

center{
   
   margin: 200px 100px;
   border: 1px solid #b5b5b5;
   padding: 50px 50px;
   background:#f9f5f5 ;
   
 }


.buton{
    background: #937c6f;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px 20%;
  }

  .buton:hover{
    background: #c5a999;
    color: #000000;

  }
  @media only screen and (max-width: 450px)
{
  center{
   
    margin: 200px 10px;
    border: 1px solid #b5b5b5;
    padding: 5px 5px;
    background:#f9f5f5 ;
    
  }
	
}

</style>
<center>
  <div class="container pt-5 mt-5">
    <h1>Verify OTP</h1>
    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="otp_code">OTP Code:</label>
        <input type="text" id="otp_code" name="otp_code" class="form-control" required />
      </div>

      <button type="submit" class="buton">Verify OTP</button>
    </form>
  </div>

</center>
  
{% endblock %}
